/* I dont know why it does not work with the party font, so I use link instead.
@font-face {
    font-family: 'party';
    src: url("/font/party-bright-cdnfonts/Merry-Party-BF6540809f6d219.otf") format('otf'),
         url("/font/party-bright-cdnfonts/Merry-Party-BF6540809f6d219.woff") format('woff'),
         url("/font/party-bright-cdnfonts/Merry-Party-BF6540809f6d219.ttf") format('truetype'),
         url("/font/party-bright-cdnfonts/Merry-Party-BF6540809f6d219.woff2") format('woff2');
}

 I dont know why it does not work with the ignite font, so I use link instead.
@font-face {
    font-family: 'ignite';
    src: url("/font/i-ignite-remove-cdnfonts/IgniteRemove-p7GoO.otf") format('otf'),
         url("/font/i-ignite-remove-cdnfonts/IgniteRemove-p7GoO.woff") format('woff'),
         url("/font/i-ignite-remove-cdnfonts/IgniteRemove-p7GoO.ttf") format('truetype'),
         url("/font/i-ignite-remove-cdnfonts/IgniteRemove-p7GoO.woff2") format('woff2');
}
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/picture/sky02.jpg");
    background-size: cover;
    background-repeat: no-repeat; /* Prevent tiling */
    background-attachment: fixed;  /*Keep the background fixed */
    background-position: center;
    color: whitesmoke;
    width: 100vw; /* Full viewport width */
    height: 100vh;
}

h1 {
    font-family: 'Party Bright', sans-serif;
    text-align: center;
    font-size: 3.5vmax;
    font-weight: 800;
    letter-spacing: 0.5vmax;
    margin: 5vh 0;
    color:aliceblue;
    -webkit-text-stroke: 2px black; /* width and color */
}

body main {
    width: 98vw;
    margin: 0 1vw;
    font-family: 'i Ignite Remove', sans-serif;
    font-size: 1.2vmax;
    text-align: center;
    line-height: 1.6;
    color: azure;
    background-color: rgba(0, 0, 0, 0.5);
}

body footer {
    width: 100%;
    height: 5vh;
    margin-top: 10vh;
    position: fixed;
    bottom: 0;
    font-family: 'i Ignite Remove', sans-serif;
    font-size: 1.2vmax;
    text-align: left;
    padding: 20px;
    background-color: rgb(240, 4, 253);
    color: azure;
}

body footer a {
    color:aqua;
    text-decoration: none;
}