/* It does not work with the party font, so I commented it out
@font-face {
    font-family: 'party';
    src: url("/font/party-bright-cdnfonts/Merry-Party-BF6540809f6d219.otf") format('otf'),
         url("/font/party-bright-cdnfonts/Merry-Party-BF6540809f6d219.woff") format('woff'),
         url("/font/party-bright-cdnfonts/Merry-Party-BF6540809f6d219.ttf") format('truetype'),
         url("/font/party-bright-cdnfonts/Merry-Party-BF6540809f6d219.woff2") format('woff2');
}

 It does not work with the ignite font, so I commented it out
@font-face {
    font-family: 'ignite';
    src: url("/font/i-ignite-remove-cdnfonts/IgniteRemove-p7GoO.otf") format('otf'),
         url("/font/i-ignite-remove-cdnfonts/IgniteRemove-p7GoO.woff") format('woff'),
         url("/font/i-ignite-remove-cdnfonts/IgniteRemove-p7GoO.ttf") format('truetype'),
         url("/font/i-ignite-remove-cdnfonts/IgniteRemove-p7GoO.woff2") format('woff2');
}
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/picture/sky02.jpg");
    background-size: cover;
    background-repeat: no-repeat; /* Prevent tiling */
    background-attachment: fixed; /* Keep the background fixed */
    background-position: center;
    color: whitesmoke;
}

h1 {
    font-family: 'Party Bright', sans-serif;
    text-align: center;
    font-size: 3.5vmax;
    font-weight: 800;
    letter-spacing: 0.5vmax;
    margin: 20px 0;
    color:aliceblue;
}

main {
    font-family: 'i Ignite Remove', sans-serif;
    font-size: 1.2vmax;
    max-width: 80%;
    line-height: 1.6;
    color: azure;
    background-color: rgba(0, 0, 0, 0.5);
}